<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Wallet.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>002A9624C8502BF3DF8CAAB2E27ECB826A4B1077</string>
				<key>dateExpires</key>
				<string>08.08.18</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>i386</string>
						<string>x86_64</string>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002A9624C8502BF3DF8CAAB2E27ECB826A4B1077</string>
						<key>dateExpires</key>
						<string>08.08.18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CryptoSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>32J6BB6VUS</string>
						<key>name</key>
						<string>Fotolockr LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>i386</string>
						<string>x86_64</string>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002A9624C8502BF3DF8CAAB2E27ECB826A4B1077</string>
						<key>dateExpires</key>
						<string>08.08.18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FontAwesome.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>32J6BB6VUS</string>
						<key>name</key>
						<string>Fotolockr LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>i386</string>
						<string>x86_64</string>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002A9624C8502BF3DF8CAAB2E27ECB826A4B1077</string>
						<key>dateExpires</key>
						<string>08.08.18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>QRCode.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>32J6BB6VUS</string>
						<key>name</key>
						<string>Fotolockr LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>i386</string>
						<string>x86_64</string>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002A9624C8502BF3DF8CAAB2E27ECB826A4B1077</string>
						<key>dateExpires</key>
						<string>08.08.18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>32J6BB6VUS</string>
						<key>name</key>
						<string>Fotolockr LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>i386</string>
						<string>x86_64</string>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002A9624C8502BF3DF8CAAB2E27ECB826A4B1077</string>
						<key>dateExpires</key>
						<string>08.08.18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxDataSources.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>32J6BB6VUS</string>
						<key>name</key>
						<string>Fotolockr LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>i386</string>
						<string>x86_64</string>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002A9624C8502BF3DF8CAAB2E27ECB826A4B1077</string>
						<key>dateExpires</key>
						<string>08.08.18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>32J6BB6VUS</string>
						<key>name</key>
						<string>Fotolockr LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>i386</string>
						<string>x86_64</string>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002A9624C8502BF3DF8CAAB2E27ECB826A4B1077</string>
						<key>dateExpires</key>
						<string>08.08.18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SkyFloatingLabelTextField.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>32J6BB6VUS</string>
						<key>name</key>
						<string>Fotolockr LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>i386</string>
						<string>x86_64</string>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>002A9624C8502BF3DF8CAAB2E27ECB826A4B1077</string>
						<key>dateExpires</key>
						<string>08.08.18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>32J6BB6VUS</string>
						<key>name</key>
						<string>Fotolockr LLC</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>32J6BB6VUS.com.fotolockr.Wallet</string>
				<key>com.apple.developer.team-identifier</key>
				<string>32J6BB6VUS</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>32J6BB6VUS.com.fotolockr.Wallet</string>
				</array>
			</dict>
			<key>name</key>
			<string>Wallet.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>79195383-1ef2-435f-a131-fe3b81fbe866</string>
				<key>name</key>
				<string>XC iOS Ad Hoc: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>32J6BB6VUS</string>
				<key>name</key>
				<string>Fotolockr LLC</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
